{{!-- This is the default view "/" --}}
<h1>Welcome to my First APIs</h1>


{{!-- inject status as response into body of the index --}}
<h2>{{ status }}</h2>

<form action="/data" method="post">
    <input type="text" name="data">
    <button type="submit">Click Me</button>
</form>